* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu SA Beginner", cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

/*-------------------------------header */

#header {
  background-color: aqua;
  height: 30vh;
  width: 100%;
}

h1 {
  text-align: center;
  font-weight: 400;
  background-color: #154c79;
  padding: 5px 0px;
  color: #f5f5f5;
  font-family: "Passion One", cursive;
  letter-spacing: 3px;
}

/* ------------------------------ Nav */

.contain-logo {
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  min-height: 5rem;
  min-width: 100%;
  padding: 1rem;
}

.img-logo {
  text-decoration: none;
  width: 5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
  min-width: 100%;
}

nav ul li a {
  text-decoration: none;
  font-weight: 900;
}

.checkbtn {
  cursor: pointer;
}

#check {
  display: none;
}

/*------------------------------------nav-a */
#active {
  animation: saltar 1s 1;
  box-shadow: none;
  background-color: #e0dc05;
  color: #154c79;
  box-shadow: -1px 2px 4px 0px #2a649a;
}

.parallelogram-right a {
  background: #154c79;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Passion One", cursive;
  font-size: large;
  letter-spacing: 1px;
  font-weight: 900;
  transform: skew(-15deg);
  transition: 0.2s;
  padding: 1.5rem;
  height: 2.5rem;
  min-width: 100%;
  overflow: hidden;
}

.parallelogram-right a:hover {
  box-shadow: -1px 2px 4px 0px #2a649a;
  background-color: #e0dc05;
  color: #154c79;
}

.parallelogram-left a {
  background: #154c79;
  color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Passion One", cursive;
  font-size: large;
  letter-spacing: 1px;
  font-weight: 900;
  transform: skew(15deg);
  transition: 0.2s;
  padding: 1rem;
  height: 2.5rem;
  min-width: 100%;
}

.parallelogram-left a:hover {
  box-shadow: -1px 2px 4px 0px #2a649a;
  background-color: #e0dc05;
  color: #154c79;
}

/*------------------------------------main */

main {
  flex-grow: 1;
}

.container-img {
  background-image: url(../assets/img/banner/banner1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 29.2rem;
}

.container-img2 {
  background-image: url(../assets/img/banner/banner2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 29.2rem;
}
.container-img3 {
  background-image: url(../assets/img/banner/banner3.jpg);
  background-size: cover;
  background-position: 5% 0;
  width: 100%;
  height: 29.2rem;
}
.container-img4 {
  background-image: url(../assets/img/design1_image1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 29.2rem;
}
.container-img5 {
  background-image: url(../assets/img/banner/hockey6.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 29.2rem;
}
.container-img6 {
  background-image: url(../assets/img/design1_image2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 29.2rem;
}

h2 {
  text-align: center;
  background-color: #154c79;
  color: #fff;
  padding: 7px 10px;
}

/* Contact */

.container-contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  flex-grow: 1;
}

.article2 {
  background-color: #154c79;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  margin: 1rem;
  width: 50%;
  height: 8rem;
}

/*---------- About -------*/

.container-about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0.5rem;
}

.article1 {
  background-color: #154c79;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  display: flex;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.container-img-about {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.img-about {
  width: 20rem;
  border-radius: 5px;
}

/*------------------ rules */

.container-rules {
  display: flex;
  flex-direction: column;
  margin: 15px 20%;
}

.rules-subtitle {
  text-align: center;
  padding: 0.5rem;
}

.subtitle-h3 {
  text-align: center;
  margin-top: 2rem;
}

.subtitle-list {
  font-weight: bold;
}

.p-rules {
  color: #000;
}
/* ---------------Registration Form */

.form-regis-h2 {
  border-radius: 0.5rem;
  margin: 1rem;
}

.form-sub-h2 {
  padding: 0px 0px 10px 0px;
}

.registration-form {
  margin: 3% 20%;
}

.permission-section p {
  color: #000;
  padding: 0px 0px 10px 0px;
}

.form-name {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
}

.sub-h2 {
  padding: 0px 0px 10px 0px;
}

.uniform {
  padding: 0px 0px 10px 0px;
}

.permission {
  padding: 0px 0px 10px 0px;
}

.form-city {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
}

.street-address {
  padding: 0px 0px 10px 0px;
}

.input-address {
  width: 80%;
}

.form-grade {
  padding: 0px 0px 10px 0px;
}

.form-birth {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
}

fieldset {
  padding: 0px 0px 10px 0px;
  border: none;
}

.position-box {
  display: flex;
  flex-direction: column;
}

.container-date {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 0px 10px 0px;
}

.send {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.send-button {
  width: 40%;
  align-self: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #154c79;
  color: #fff;
  border: none;
  padding: 10px 0px;
  font-family: "Passion One", cursive;
  cursor: pointer;
  letter-spacing: 2px;
  border-radius: 30px;
}

/*---------- Game -------*/
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100%;
  padding: 0.5rem;
}

tr td {
  font-size: 1.2rem;
  font-weight: 900;
}

.title-detail {
  border-radius: 0.5rem;
}

table {
  padding: 0 10%;
  margin: 0.3rem;
}

.tg-c3ow {
  font-size: 1.2rem;
}

.container-detail-info {
  background-color: #154c79;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.info-contact {
  display: flex;
  justify-content: space-around;
}

.phone {
  color: #fff;
  background-color: #1a3379;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#mail {
  color: #fff;
  background-color: #1a3379;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

/* Registration */

/*--------------------------------------Imag  */

.container-events {
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.article {
  background: linear-gradient(to right, #1a3379 0%, #154c79 53%, #2a015d 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 5px;
}

.p-events {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.t-events {
  text-align: center;
  background-color: #1a3379ee;
  border-radius: 0px 3px 3px 0px;
  color: #fff;
  width: 42%;
  font-size: 0.9rem;
  padding: 0.2rem;
}

.img-card-1 {
  background-image: url(../assets/img/cartas/news1.jpg);
  background-position: center;
  background-size: cover;

  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

.img-card-2 {
  background-image: url(../assets/img/cartas/news2.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

.img-card-3 {
  background-image: url(../assets/img/cartas/news3.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

.img-card-4 {
  background-image: url(../assets/img/cartas/news4.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

.img-card-5 {
  background-image: url(../assets/img/cartas/news5.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

.img-card-6 {
  background-image: url(../assets/img/cartas/news6.jpg);
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

.img-card-7 {
  background-image: url(../assets/img/cartas/news7.jpg);
  background-size: cover;
  background-position: 43% 0%;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

.img-card-8 {
  background-image: url(../assets/img/cartas/news8.jpg);
  background-size: cover;
  background-position: 35% 0%;
  height: 25rem;
  width: 90%;
  border-radius: 5px;
}

/*--------------------------------------Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #154c79;
  min-height: 10vh;
  width: 100%;
}

footer div {
  text-align: center;
  display: flex;
  padding: 10px 10px;
}

footer div h3,
p {
  padding: 0px 10px;
  color: #f5f5f5;
}

.pc-img {
  font-size: 4rem;
}

/*---------------------------------------media */
@media (max-width: 773px) {
  html {
    font-size: 0.8rem;
  }

  nav {
    padding: 2rem;
  }

  .parallelogram-right a {
    font-size: 0.5;
  }

  .parallelogram-left a {
    font-size: 0.5;
  }
}

@media (max-width: 710px) {
  html {
    font-size: 0.8rem;
  }

  nav {
    padding: 2rem;
  }

  .parallelogram-right a {
    font-size: 0.5;
  }

  .parallelogram-left a {
    font-size: 0.5;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 0.5rem;
  }

  .img-logo {
    display: none;
  }

  .container-right a {
    height: 5rem;
  }

  .container-left a {
    height: 5rem;
  }

  /*---------- Game -------*/
  .container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    padding: 0.2rem;
  }

  tr td {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .title-detail {
    border-radius: 0.5rem;
  }

  .img-map {
    width: 20rem;
  }

  table {
    padding: 0 3%;
    margin: 0.3rem;
  }

  .tg-c3ow {
    font-size: 1.2rem;
  }

  .container-detail-info {
    background-color: #154c79;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .info-contact {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 0.6rem;
  }

  .container-menu {
    position: sticky;
    top: 0px;
    /* background-color: #f5f5f5; */
    z-index: 999;
  }

  nav {
    justify-content: space-around;
  }

  .logo {
    width: 5rem;
  }

  .contain-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .img-logo1 {
    width: 5rem;
  }

  .checkbtn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }

  /* Nav a */

  ul {
    background: #154c79;
    position: fixed;
    transition: all 0.5s;
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 12.9rem;
  }

  .nav-item {
    position: relative;
    background-color: #042885;
    color: #ffc404;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    overflow: hidden;
    border: none;
    height: 3rem;
  }

  .nav-item::after {
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transition: 0.3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
  }

  .nav-item:hover::after {
    background: #ffffff;
    transform: scale(400);
  }

  .nav-item span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
    font-weight: 800;
    font-size: large;
    font-family: "Passion One", cursive;
  }

  /*  */

  .container-right {
    /* background-color: #372b0f; */
    flex-direction: column;
    position: absolute;
    top: 10%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
  }

  .parallelogram-right {
    /* background-color: #1f9081; */
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-left {
    /* background-color: #18170a; */
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
  }

  .parallelogram-left {
    /* background-color: #33480b; */
    padding: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  /*---------- Game -------*/
  .container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    padding: 0.2rem;
  }

  tr td {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .title-detail {
    border-radius: 0.5rem;
    width: 80%;
  }

  .img-map {
    width: 8rem;
    height: 9rem;
  }

  table {
    padding: 0 3%;
    margin: 0.3rem;
  }

  .tg-c3ow {
    font-size: 1.2rem;
  }

  .container-detail-info {
    background-color: #154c79;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .info-contact {
    display: flex;
    justify-content: space-around;
  }

  /* About */
  .img-about {
    width: 13.5rem;
  }
}

@media (max-width: 380px) {
  ul {
    top: 15.6rem;
  }

  /*---------- Game -------*/
  .container-info {
    min-width: 100%;
    padding: 0.2rem;
  }

  tr td {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .title-detail {
    border-radius: 0.5rem;
    width: 80%;
  }

  .img-map {
    width: 8rem;
    height: 9rem;
  }

  table {
    padding: 0 3%;
    margin: 0.3rem;
  }

  .tg-c3ow {
    font-size: 1.2rem;
  }

  .container-detail-info {
    background-color: #154c79;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .info-contact {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 375px) {
  ul {
    top: 13rem;
  }
}

@media (max-width: 310px) {
  html {
    font-size: 0.5rem;
  }

  ul {
    top: 11.7rem;
  }

  h1 {
    font-size: 1rem;
  }

  .container-img {
    width: 100%;
    background-position: center;
  }

  footer div {
    flex-direction: column;
    padding: 10px 10px;
  }

  /*---------- Game -------*/
  .container-info {
    min-width: 100%;
    padding: 0.2rem;
  }

  tr td {
    font-size: 1.2rem;
    font-weight: 900;
  }

  .title-detail {
    border-radius: 0.5rem;
    width: 80%;
  }

  .img-map {
    width: 8rem;
    height: 9rem;
  }

  table {
    padding: 0 3%;
    margin: 0.3rem;
  }

  .tg-c3ow {
    font-size: 1.2rem;
  }

  .container-detail-info {
    background-color: #154c79;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  .info-contact {
    display: flex;
    justify-content: space-around;
  }

  /* register */

  .form-regis-h2 {
    width: 100%;
  }

  .send-button {
    width: 100%;
  }
}
